/* CSS Reset ----------------------- */
/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset end ---------------------------- */
html {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 20px;
}

body {
  background: url("assets/bg_body.gif") repeat;
}

main {
  background: white;
  text-align: center;
  color: black;

  margin-bottom: 140px;
}

footer {
  background-color: #e7e7e7;  

  padding:35px 0;
}

section {
  padding: 100px 90px 70px;
}

article {
  margin-bottom: 170px;
}

h1 {
  font-size: 36px;
  font-weight: 600;

  margin-bottom: 0.9em;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3e98b2;
  
  margin-bottom: 1em;
}

p {
  letter-spacing: 0.2px;
  line-height: 1.4;
}

/* Layout ---------------------------- */
footer img {
  margin: 0 50px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  text-align: center;

  margin: 160px 0 90px;
}

/* Pseduo Elements ---------------------------- */
main article:last-child {
  margin-bottom: 0;
}

h1::before,
h1:after {
  font-size: 0.8em;
  content: "•";
  padding: 0 28px;
  vertical-align: 3px;
}